// global variables & common style
@font-face {
  font-family: "Cascadia Mono"; /* Project id  */
  src: url("https://cloud.markpolo.cn/static/fonts/CascadiaMono.ttf")
    format("truetype");
}

:root {
  --color-stdblue-1: #2e89c0;
  --color-stdblue-2: #5dabdc;
  --color-stdblue-3: #8fd0f0;

  --color-greengray-1: #161e21;
  --color-greengray-2: #2c3c49;
  --color-greengray-3: #607b84;
  --color-greengray-4: #b2c5cb;
  --color-bg: white;
  --color-front: black;
}
html.dark {
  --color-stdblue-1: #2e89c0;
  --color-stdblue-2: #5dabdc;
  --color-stdblue-3: #8fd0f0;

  --color-greengray-1: #b2c5cb;
  --color-greengray-2: #607b84;
  --color-greengray-3: #2c3c49;
  --color-greengray-4: #161e21;
  --color-bg: #242526;
  --color-front: white;
}
$color-stdblue-1: var(--color-stdblue-1);
$color-stdblue-2: var(--color-stdblue-2);
$color-stdblue-3: var(--color-stdblue-3);

$color-greengray-1: var(--color-greengray-1);
$color-greengray-2: var(--color-greengray-2);
$color-greengray-3: var(--color-greengray-3);
$color-greengray-4: var(--color-greengray-4);

@mixin Flex-C-SB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@mixin Flex-C-CT {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@mixin Flex-C-AC {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin Flex-R-AC {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@mixin Flex-R-CT {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@mixin Flex-R-SB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin Flex-R-CTR {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@mixin Flex-CT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin Flex-RCT {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
