// global variables & common style

$color-stdblue-1: #2e89c0;
$color-stdblue-2: #5dabdc;
$color-stdblue-3: #8fd0f0;

$color-greengray-1: #161e21;
$color-greengray-2: #2c3c49;
$color-greengray-3: #607b84;
$color-greengray-4: #b2c5cb;


@mixin Flex-C-SB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@mixin Flex-C-CT {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@mixin Flex-C-AC {
  display: flex;
  flex-direction: column;
  align-items: center;
}